<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>


  <div class="container">
    <h1>Contacts</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>   
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.id}"/>
                <td th:text="${contact.name}"/>
            </tr>
        </tbody>
    </table>

    <ul th:each="contact : ${contacts}">
      <li th:text="${contact}" />
    </ul>
  </div>

</body>

</html>